<div [ngSwitch]="gameState?.state" fxLayout="column" fxFlex fxLayoutAlign="center center" >
  <div *ngSwitchCase="GameStates.Created" class="looking-for-players" >
    <h4 class="text-primary">Поиск соперников ...</h4>

      <div *ngIf="gameState.players?.length > 1">
          <div class="text-muted" > Присоединились {{gameState.players.length}} из {{gameState.numberOfPlayers}}
            <ul class="list-inline">
              <li *ngFor="let p of gameState.players; let idx = index" >
                {{p.nickname}}
              </li>
            </ul>
          </div>
     </div>

    <button type="button" class="btn" (click)="cancel()" >Отмена</button>

  </div>
  <div *ngSwitchCase="GameStates.Started">
    <h2>
      Игра началась
    </h2>
  </div>
  <div *ngSwitchCase="GameStates.Finished">
    <h2>
      Игра завершилась
    </h2>
  </div>
  <div *ngSwitchCase="GameStates.Canceled">
    <h2>
      Игра отменена
    </h2>
  </div>
  <div *ngSwitchDefault class="message">
    <h2 class="text-muted" >
      Загрузка ...
    </h2>
  </div>
</div>
