<div fxLayout="column" fxFlex fxLayoutAlign="center center" class="app-form" >
  <form [formGroup]="form" >
    <h3>Начать игру</h3>
    <div class="form-group">
      <label for="numberOfPlayers">Количество игроков</label>
      <input type="number" class="form-control input-lg" id="numberOfPlayers" formControlName="numberOfPlayers" >
    </div>
    <app-busy-button (click)="ok()" [disabled]="!form.valid" [busy]="busy" >Ок</app-busy-button>
    <button type="button" class="btn btn-default btn-lg btn-block" routerLink="/" >Отмена</button>
  </form>
</div>
