<div fxLayout="column" fxFlex fxLayoutAlign="center center" class="app-form" >
  <form [formGroup]="form" >
    <h3>Начать игру</h3>
    <div class="form-group">
      <label for="numberOfPlayers">Количество игроков</label>
      <input type="number" class="form-control input-lg" id="numberOfPlayers" formControlName="numberOfPlayers" >
    </div>
    <button type="submit" (click)="ok()" [disabled]="!form.valid || busy" class="btn btn-lg btn-primary btn-block">Ок</button>
  </form>
  <a routerLink="/game-list">Игры</a>
</div>
